@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 16px;
}
[lang="km"] {
    font-family: "Noto Sans Khmer", sans-serif;
}
:root{
    --main:#CF2E2E;
    --secodary:#EABD08;
    --word:#11181c;
    --background:#922222;
    --background-mobile:#985151;
}
/* for Nav */
.nav{
    height: 64px;
    width: 100%;
    background-color:var(--main);
    padding:20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index:999;
    top:0;
    left:0;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}
.clogo{
    height: 50px;
    width: 50px;
}
.clogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.smart img{
    width:120%;
    height: 120%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.menu ul li a{
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    color:white;
}
.menu ul li button{
    background-color: #EABD08;
    padding: 10px 25px;
    border-radius: 5rem;
    border:0px;
    cursor: pointer;
}
.noti{
    display: none;
}
.ruler{
    
    background-color: black;
    height: 64px;
    width:2px;
    opacity: 0.2;
    border-radius: 5rem;
}
.flag{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px white;
}
.flag img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:fill;
}
.first_body{
    background-color: var(--background);
    margin-top:64px;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:24px 0;
    gap:0;
}
.first_body_text{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first_body_text p{
    font-size: 4.7rem;
    gap:0;
    color: white;
    font-weight:800;
    line-height: 1.1;
    letter-spacing: -0.05rem;
}
.first_body_pic{
    width:50%;
    height: 100%;
}
.first_body_pic img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.next-event-box {
    /* background-color: blue; */
    margin-top: 1.25rem; /* 20px */
    margin-bottom: -4px;
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    display: block;
    padding:24px 120px 0 120px;
    padding-top:10px;
}

.next-event-box-header {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.next-event-box-header h1 { 
    font-size: 1.5rem;
    color: currentColor;
    padding-right: 0.75rem;
}
.next-event-box-header h1:last-child{
    display: none;
}

.header-line {
    flex: 1;
    height: 0.8px;
    background-color: #CFD1D2;
}
.next_event_body{
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    padding: 20px;
    margin-top:20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    display: none;
}
.evencard_upper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-direction: row;
}
.even_card_home{
    width: 80px;
    height: 100%;
}
.even_card_home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.even_card_away{
    width: 80px;
    height: 100%;
}
.even_card_away img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.evencard_text p{
    font-size: 1.2rem;
}
.evencard_bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F31260;
    padding: 10px 20px;
    border-radius: 5rem;
}

.evencard_bottom p{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.next-event-box-body {
    padding: 30px 18px;
    overflow: hidden;
    
}

.swiper-items-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-flow: row;
    box-sizing: content-box;
    /* transform: translate3d(-231.959px, 0px, 0px); */
    /* transform: translateZ(0); */
    padding:10px;
    
}

.swiper-item {
    height: 100%;
    width: 301px;
    margin-right: 12px;
    flex-shrink: 0;
    position: relative;
    display: block;
}

#to-ticket {
    height: 100%;
    cursor: pointer;
}

.event-card {
    z-index: 1;
    overflow: hidden;
    position: hidden;
    /* height: 100%; */
    height: 302px;
    background-color: #973a3a;
    border-radius: 1rem; /* 16px */
}

.event-card-upper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem; /* 24px */
    /* background-color: rgba(90, 0, 0, 0.8);  */
    background-color: #913736;
    backdrop-filter: blur(64px);
    align-items: center;
}

.match-team {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.match-team img {
    height: 80px;
    width: auto;
}

.team-vs {
    display: flex;
    flex-flow: column;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 1.5rem; /* 24px */
}

.event-card-lower {
    background-color: #973a3a;
    padding: 1.25rem; /* 20px */
    position: relative;
    backdrop-filter: blur(64px);
}

.event-card-lower h2 {
    color: white;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    text-align: center;
    margin-bottom: 1.5rem; /* 24px */
    font-weight: 700;
    
}
.match-date {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 600;
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem; /* 8px */
    display: flex;
    gap: 0.75rem; /* 12px */
    color: #F54180; 
}

.match-stadium {
    display: flex;
    gap: 0.75rem; /* 12px */
    color: white;
    opacity: 0.7;
}
.swiper-pagination1 {
    bottom: 8px;
    top: 465px;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    /* position: absolute; */
    z-index: 10;
}

.swiper-pagination-bullet-active1 {
    height: 8px;
    width: 20px;
    margin: 0 4px;
    background-color: #007AFF;
    border-radius: 10px;
    display: inline-block;
}

.swiper-pagination-bullet1 {
    width: 8px;
    height: 8px;
    margin: 0 1.5px;
    background-color: #000000;
    border-color: #E5E7EB;
    border-radius: 50%;
    display: inline-block;
    opacity: .2;
}

.body_news{
    display: flex;
    gap:20px;
    flex-direction: column;
    padding:24px;
    padding-bottom: 0;
}
.container{
    width: 90%;
    background-color: white;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: center;
    gap: 30px;
}
.body_news_text{
    padding-left:100px;
}
.body_news_text h1{
    font-size: 1.6rem;
}
.body_news_container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.news{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    gap:10px;
}
.news_img{
    width: auto;
    height:80%;
    overflow: hidden;
    border-radius: 20px;
}
.news_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
}
.news_text{
    width: 100%;
    height: auto;
    font-size: 1.1rem;
    color: var(--word);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-height: 1.8; 
    text-overflow: ellipsis;
}
.news:hover .news_text{
    color: var(--secodary);
}
.news:hover .news_img img{
    transform: scale(1.2);
}
.menu_mobile_container{
    height: auto;
    width: 100%;
    padding: 35px;
    padding-top:0;
    display: none;
}
.menu_mobile{
    display: flex;
    flex-direction:column;
    gap:20px;
}
.menu_mobile_header h1{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.menu_mobile_contain{
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding:10px;
}
.menu_mobile_button{
    border-radius: 20px;
    background-color: white;
    height: 100px;
    width: 100%;
}
.menu_mobile_button a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    width: 100%;
    gap:5px;
}
.mmb_text p{
    font-size: 1.2rem;
    color: var(--word);
}
.menu_down{
    height: auto;
    width: 100%;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    
    display: none;
}
.menu_down_header{
    padding-left:10px;
}
.menu_down_header p{
    font-size: 1.5rem;
    color: white;
}
.menu_down_contain{
    margin:10px;
    padding:10px;
    gap:10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.menu_down_app{
    width:100%;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.menu_down_pic{
    height: 100px;
    width: 100%;   
}
.menu_down_pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu_down_text p{
    font-size: 1.5rem;
    color: var(--word);
}
/* for footer */
.sponsor_footer{
    position: relative;
    height: auto;
    width: 100%;
}
.sponsor_background{
    width: 100%;
    height: 100vh;
    filter: blur(30px);
}
.sponsor_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sponsor{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
}
.sponsor img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}
.sponsor_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_for_text{
    background-color:var(--main);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f_text p{
    color: white;
    font-size: 1rem;
    text-align: center;
}
.player{
    background-image: url(../player/img/takaki\ ose\ 3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}
.player1{
    background-image: url(../player/img/Chin\ vinen\ 4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}
.player2{
    background-image: url(../player/img/Chom\ sokhay\ 5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}
.player3{
    background-image: url(../player/img/Yudai\ ogawa\ 6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}
.player4{
    background-image: url(../player/img/Yeu\ muslim\ 7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}
.player_back{
    height: 30%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(111, 90, 90, 0.01), /* White at the top */
        rgba(168, 25, 25, 0.5),   /* Red in the middle */
        rgba(103, 9, 9, 0.8)      /* Black at the bottom */
      );
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    padding:10px;
}
.player_back_number h1{
    font-size: 2.8rem;
    color: white;
}
.player_back_text h1{
    color: white;
}
.player_back_text h1:first-child{
    font-size:1.3rem;
}
.player_back_text h1:last-child{
    font-size:1rem;
}
/* for repsonsive */
@media (max-width:1200px){
    html{
        font-size: 14px;
    }
    .nav{
        padding:20px 15px;
    }
    .first_body{
        flex-direction: column;
    }
    .container{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        padding:10px;
    }
    
}
@media (max-width:1024px){
    html,body{
        background-color: var(--background-mobile);
    }
    .body_news_text{
        color:white;
    }
    .first_body{
        display: none;
    }
    .next_event_body{
        display: block;
    }
    .next-event-box-body{
        display: none;
    }
    .body_news{
        background-color: var(--background-mobile);
    }
    .container{
        grid-template-columns: repeat(1,1fr);
        background-color: var(--background-mobile);
        gap:0px;
    }
    .container a:nth-last-child(-n+5) {
        display: none;
    }
    .news_text{
        color: white;
    }
    .next-event-box-header h1:last-child{
        color: white;
        padding-top: 40px;
        display: inline;
    }
    .next-event-box-header h1:first-child{
        display: none;
    }
    .next-event-box{
        padding:40px;
    }
    .menu_mobile_container{
        display: block;
    }
    .menu_down{
        display: block;
    }
    
    .sponsor_footer{
        background-color: white;
    }
    .menu ul li:not(:last-child){
        display: none;
    }
    .noti{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body_news_text{
        font-size: 1.2rem;
        padding-left:15px;
    }
    .flag{
        position: fixed;
        bottom: 30px;;
        right: 10px;
    }
    .piv{
        display: none;
    }
}
@media (min-width:1200px){
    .firstnews{
        grid-column: 1 / span 4;
        grid-row: 1 /3;
    }
    .f_news_container{
        flex-direction: row;
        height:500px;
        width:100%;
        border-radius: 20px;
        gap:0;
        overflow:hidden;
    }
    .f_img{
        width: 70%;
        height: 100%;
        border-radius: 0;
    }
    .f_img img{
        border-radius: 0;
    }
    .fir_text{
        font-weight:bolder;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        font-size: 1.7rem;
        color:white;
        padding:0 50px;
        position: relative;
        background-color: black;
        z-index: 1;
    }
    .fir_text::after{
        content:"";
        height: 100%;
        width: 100%;
        background-image: url(../News/picture/for_background_f_pic.jpg);
        background-size: cover;
        background-position: center;
        filter: blur(150px); 
        position: absolute;
        left:0;
        top:0;
        z-index:-1;
    }
}