<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>component</title>
</head>
<body>
    <!-- for nav -->
    <nav>
        <div class="nav">
            <div class="logo">
                <div class="ppc clogo">
                    <a href="index.html"><img src="./picture/ppcfc.png" alt="phnom pehn crown logo"></a>
                </div>
                <div class="smart clogo">
                    <a href="index.html"><img src="./picture/smart.png" alt="smart logo"></a>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Fitures</a></li>
                    <li><a href="#">Players</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Stadium</a></li>
                    <li><button>Login</button></li>
                    <li><div class="ruler"></div></li>
                    <li><div class="flag"><img src="./picture/cambodia.png" alt="cambodia flag"></div></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- for footer -->
    <div class="sponsor_footer">
        <div class="sponsor_background">
            <img src="./picture/sponsor.png" alt="sponsor background">
        </div>
        <div class="sponsor">
            <img src="./picture/sponsor.png" alt="sponsor">
        </div>
        <div class="footer_for_text">
            <div class="f_text">
                <p>Copyright PPCFC Official website of Phnom Penh Crown FC.</p>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>